.header{
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: center;
}

.instructions {
  display: flex;
  justify-content: center;
}

#blue {
  background: blue;
  opacity: .4;
  border: solid black 4px;
  width: 200px;
  height: 200px;
  margin: 5px;
}

#green {
  background: green;
  opacity: .4;
  border: solid black 4px;
  width: 200px;
  height: 200px;
  margin: 5px;
}

#red {
  background: red;
  opacity: .4;
  border: solid black 4px;
  width: 200px;
  height: 200px;
  margin: 5px;
}

#yellow {
  background: yellow;
  opacity: .4;
  border: solid black 4px;
  width: 200px;
  height: 200px;
  margin: 5px;
}

.game {
  display: flex;
  justify-content: center;
}

.difficulty {
  display: flex;
  justify-content: center;
}

.h1 {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

#button {
  width: 200px;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
}
