.header{
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: center;
}

.instructions {
  display: flex;
  justify-content: center;
}

.scores{
  display: flex;
  justify-content: center;
}

.highScoreEasy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 10px;
}

#easyScore {
  margin-left: 4px;
}

.highScoreMedium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 10px;
}

#mediumScore {
  margin-left: 4px;
}

.highScoreHard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 10px;
}

#hardScore {
  margin-left: 4px;
}



#blue {
  background: blue;
  opacity: .4;
  border: solid black 4px;
  width: 150px;
  height: 150px;
  margin-right: 79px;
}

#green {
  background: green;
  opacity: .4;
  border: solid black 4px;
  width: 150px;
  height: 150px;
  margin-left: 79px;
}

#red {
  background: red;
  opacity: .4;
  border: solid black 4px;
  width: 150px;
  height: 150px;
  margin: 5px;
}

#yellow {
  background: yellow;
  opacity: .4;
  border: solid black 4px;
  width: 150px;
  height: 150px;
  margin: 5px;
}

.level {
  display: flex;
  justify-content: center;
}

.difficulty {
  display: flex;
  justify-content: center;
}

.h1 {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

#button {
  width: 200px;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
}

.loseMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nextLevel {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  opacity: 1;
  width: 100vh;
  height: 100vh;
}

.lose {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  opacity: 1;
  width: 100vh;
  height: 100vh;
}

.game {
  visibility: hidden;
  display: flex;
  justify-content: center;
}

.ry {
  visibility: hidden;
  display: flex;
  justify-content: center;
}

.startPage{
  visibility: visible;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  opacity: 1;
  width: 100vh;
  height: 100vh;
}
